<a href="https://colab.research.google.com/github/prabirdeb/Ted-Talk-Views-Prediction-Prabir-Debnath/blob/main/Ted_Talk_Views_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ted Talk Views Prediction**

In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ted_talk_df=pd.read_csv('/content/drive/MyDrive/Almabetter Assignments/Capstone projects/Ted Talk Views Prediction-Prabir Debnath/data_ted_talks.csv')

In [4]:
ted_talk_df.head(2)

   talk_id  ...                                         transcript
0        1  ...  Thank you so much, Chris. And it's truly a gre...
1       92  ...  About 10 years ago, I took on the task to teac...

[2 rows x 19 columns]

In [5]:
ted_talk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4005 entries, 0 to 4004
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   talk_id         4005 non-null   int64
 1   title           4005 non-null   object
 2   speaker_1       4005 non-null   object
 3   all_speakers    4001 non-null   object
 4   occupations     3483 non-null   object
 5   about_speakers  3502 non-null   object
 6   views           4005 non-null   int64
 7   recorded_date   4004 non-null   object
 8   published_date  4005 non-null   object
 9   event           4005 non-null   object
 10  native_lang     4005 non-null   object
 11  available_lang  4005 non-null   object
 12  comments        3350 non-null   float64
 13  duration        4005 non-null   int64
 14  topics          4005 non-null   object
 15  related_talks   4005 non-null   object
 16  url             4005 non-null   object
 17  description     4005 non-null   object
 18  transcript      4005 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 594.6+ KB

In [6]:
ted_talk_df.describe()

            talk_id         views     comments     duration
count   4005.000000  4.005000e+03  3350.000000  4005.000000
mean   12432.538327  2.148006e+06   161.997015   724.011236
std    17447.576262  3.451226e+06   268.838922   361.775462
min        1.000000  0.000000e+00     0.000000    60.000000
25%     1252.000000  8.820690e+05    38.000000   393.000000
50%     2333.000000  1.375508e+06    89.000000   738.000000
75%    23777.000000  2.133110e+06   188.000000   974.000000
max    62794.000000  6.505195e+07  6449.000000  3922.000000